.icon__button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: light-dark(var(--light), var(--dark));
    color: light-dark(var(--dark), var(--light));

    &:hover {
        cursor: pointer;
        color: light-dark(#ffffff, #0a0a0a);
        background-color: light-dark(#a877db, var(--selected-dark));
    }
}