<main class="container">
    <section class="container__header">
        <h1>Audio Viewer</h1>
        <input type="file" accept="audio/*" (change)="onFileCharge($event)" />
    </section>

    <section class="container__bars">
        @if(currentGraphic === 'bars') {
        <app-bars [bars]="bars" [svgWidth]="svgWidth" [svgHeight]="svgHeight" [barsCount]="barsCount"></app-bars>
        }
        @if (currentGraphic == 'wave') {
        <app-wave [wavePath]="wavePath" [svgHeight]="svgHeight"></app-wave>
        }
        @if (currentGraphic == 'radial') {
        <app-radial [radialPoints]="radialPoints" [radialIntensity]="radialIntensity"
            [svgHeight]="svgHeight"></app-radial>
        }
    </section>

    <section class="container__controls">
        <div>
            <app-action-button text="Play" (click)="playSound()"></app-action-button>
            <app-action-button text="Pause" (click)="pauseSound()"></app-action-button>
            <app-action-button text="Stop" (click)="stop()"></app-action-button>
        </div>
        <div>
            <app-action-button text="Wave" (click)="changeGraphic('wave')"></app-action-button>
            <app-action-button text="Radial" (click)="changeGraphic('radial')"></app-action-button>
            <app-action-button text="Bars" (click)="changeGraphic('bars')"></app-action-button>
        </div>
    </section>

</main>