<h1>Audio View</h1>

<main>
    <input type="file" accept="audio/*" (change)="onFileCharge($event)" />
    <button (click)="playSound()">Play</button>
    <button (click)="pauseSound()">Pause</button>
    <button (click)="stop()">Stop</button>
    <svg width="600" height="200" viewBox="0 0 600 200">
        @for (bar of bars; track $index) {
        <rect [attr.x]="$index * (svgWidth / barsCount)" [attr.y]="svgHeight - bar" [attr.width]="svgWidth / barsCount"
            [attr.height]="bar" fill="black" />
        }
    </svg>

</main>